{% load static %}
<!DOCTYPE html>
<html data-theme="business" lang="pt" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} Feira da Fruta {% endblock %} </title>
    <script src="{% static 'js/main.js' %}"> </script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% include 'head/css.html' %}
</head>
<body>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
