{% load static %}

{% block 'content' %}

{% for iten in content %}
    <div class="card w-96 bg-base-300 shadow-xl my-3">
        <figure>
            <img 
                src={{ iten.url }}
                alt={{ iten.name }} 
                class="w-full h-60" 
                />
        </figure>

        <div class="card-body">
            <h2 class="card-title">{{ iten.name }}</h2>
            <p>{{ iten.description }}</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
  
{% endfor %}

{% endblock %}